<ion-content>
  <div class="container">
    <div class="row boxShadow">
      <!------------- Colonne Gauche---->
      <div class="col-12 col-md-6 imgGauche">

        <div class="contenu py-5">
          <div class="py-5"></div>
          <h2 class="display-5 text-center" style="font-weight: bold;">Bienvenue</h2>
          <h6>Sur <span style="color:#FF6600">Station </span>Service</h6>
        </div>

      </div>

      <!------------- Colonne Droite ---->
      <div class="col-12 col-md-6 form">
        <form class="py-3 px-3">
          <fieldset>
            <legend class="display-6 text-center my-3"><b>Ajouter Salarié</b></legend>
          </fieldset>
          <div class="trait"></div>

          <div class="row">
            <div class="col-md-6 mb-3 form-row form-floating">
              <input type="text" name="nom" id="identifiant" class="form form-control inputvalue">
              <label for="identifiant">Nom <span style="color: red;">*</span></label>
            </div>

            <div class="col-md-6 mb-3 form-row form-floating">
              <input type="text" name="prenom" id="prenom" class="form form-control inputvalue">
              <label for="prenom">Prenom <span style="color:red;">*</span></label>
            </div>
            <div class="col-md-6 mb-3 form-row form-floating">
              <input type="text" name="adresse" id="adresse" class="form form-control inputvalue">
              <label for="password">Adresse <span style="color:red;">*</span></label>
            </div>
            <div class="col-md-6 mb-3 form-row form-floating">
              <input type="text" name="contact" id="contact" class="form form-control inputvalue">
              <label for="contact">Contact <span style="color:red;">*</span></label>
            </div>
            <div class="col-md-6 mb-3 form-row form-floating">
              <input type="text" name="salaire" id="salaire" class="form form-control inputvalue">
              <label for="salaire">salaire <span style="color:red;">*</span></label>
            </div>
          </div>


          <button class="btn btnAjouter">Ajouter</button>
        </form>

      </div>
    </div>

</div>

</ion-content>
