<ion-menu content-id="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Station Service</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">

    <ion-menu-toggle>
      <ion-button >
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-menu-toggle>
    <ion-list>
      <ion-item>Client</ion-item>
      <ion-item>Client</ion-item>
    </ion-list>
  </ion-content>

</ion-menu>

<div class="ion-page" id="main-content">
  <!-- <ion-header>
    <ion-toolbar>
      <ion-title>Station Service</ion-title>
    </ion-toolbar>
  </ion-header> -->


  <ion-content class="ion-padding">
    <ion-menu-toggle>
      <ion-button>Menu</ion-button>
    </ion-menu-toggle>
    <p>sdfghjklkjhgffghjklkjhgfghj</p>
  </ion-content>


</div>
